<!DOCTYPE html>
<html>
  <head>
    <title>Test page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/api/login/google" method="post">
      <input type="text" name="accessToken" value="bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJUVEJTdG9yZSIsInN1YiI6eyJhY2NvdW50SWQiOiI2MWMxYzNmNTQwNjllYmI5ZDE2NTNjMGUifSwiaWF0IjoxNjQwMDkxNzg4LCJleHAiOjE2NDAzNTA5ODh9.IryqcZcvDrkq6yz_h1xUgD-N4JURJy2aKgZDISdlyhg">
      <input type="submit" value="login">
    </form>
      <a href="/api/login/google">Đăng nhập bằng google</a>
  </body>
</html>
